@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(https://images.unsplash.com/photo-1503327431567-3ab5e6e79140?q=80&w=2864&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f5f5f5;
  font-family: montserrat, sans-serif;
  padding: 2rem;
}

main {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.3rem;
}

#temp {
  font-size: 4rem;
}

.temp-main {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.temp-secondary {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#temp-unit-toggle {
  text-decoration: underline;
  cursor: pointer;
}

img {
  width: 4rem;
  height: 4rem;
}

#weather-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* width: 25rem; */
}

#search-input {
  background: none;
  border: none;
  padding: 0.35rem 0.7rem;
  font-family: inherit;
  font-size: 1.2rem;
  color: white;
  display: flex;
}

#search-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

#search-input:focus {
  outline-width: 0;
}

form {
  display: flex;
}

#search-bar {
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid white;
}

.material-symbols-outlined.search {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
  color: white;
  font-size: 2rem;
}

#search-button {
  background: none;
  border: none;
}

.error {
  display: none;
  font-size: 0.7rem;
  color: white;
}

#weather-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.widget {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.material-symbols-outlined.widget-icon {
  font-size: 3.5rem;
  font-weight: 100;
}

.widget-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.widget-text > p {
  font-size: 0.8rem;
}

.unit {
  font-size: 1rem;
}

.forecast {
  display: none;
  justify-content: space-between;
}

.forecast-hourly {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.hour-name {
  font-size: 0.8rem;
  opacity: 0.6;
}

.hour-temp {
  font-size: 1.1rem;
  font-weight: 900;
}

.hour-icon {
  width: 3rem;
  height: 3rem;
}
